@media only screen and (max-width: 980px) {
    .header {
        flex-flow: row wrap;
    }

    .header__nav {
        visibility: hidden;
        position: absolute;
        top: 90px;
        justify-content: center;
        flex-direction: column;
        background-color: var(--White);
        width: 90%;
        height: 0;
        padding: 20px 0;
        transition: all .2s ease;
    }

    .header__nav.active {
        height: 60vh;
        box-shadow: var(--box-shadow);
        visibility: visible;
    }

    .nav__ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 0;
    }

    .nav__ul.active {
        height: 90%;
    }

    .header__hanburger {
        display: flex;
    }
}