.item-link.active {
  color: var(--White);
  border-bottom: 2px solid var(--Lime-Green);
}

.header__button>.header__button-active:first-child {
  transform: rotate(45deg);
}

.header__button>.header__button-active:nth-child(2) {
  opacity: 0;
}

.header__button>.header__button-active:last-child {
  transform: rotate(-45deg);
}

.subMenu-item-link.active {
  border-bottom: 2px solid var(--Lime-Green);
  background-color: rgba(128, 128, 128, 0.534);
}

.subMenu-item-link.desactive {
  border-bottom: none;
}